.gradient-custom-2 {
    opacity: 0.8;
     /*fallback for old browsers */
    /*background: #a390d1;*/

    /*!* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: -webkit-linear-gradient(to right, rgb(138, 110, 195), rgb(147, 129, 208));*/

    /*!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background: linear-gradient(to right, rgb(166, 137, 218), rgb(159, 153, 222))*/
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
