<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/list/myFoodList.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/fragments/layout.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/fragments/layout.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar :: navbar('/foods/filter')"></div>

<div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active" id="personFood" name="first" style=" display:block">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); ">
            <div th:fragment="foodList" class="mask" style="background-color: rgba(0, 0, 0, 0.6); ">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                        <section class="vh-100 gradient-custom-2">

                            <div class="container py-5 h-100">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-md-12 col-xl-10">

                                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3); ">
                                            <div class="card-body p-4 text-black-50">
                                                <div class="col-md-12 col-xl-10">

                                                    <table class="table text-white-50 mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">nope</th>
                                                            <th scope="col">nope</th>
                                                            <th scope="col">Left</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        <tr class="fw-normal" th:each="person : ${person}">
                                                            <th>
                                                                <span class="ms-2"
                                                                      th:text="${person.goalCalories}"></span>
                                                            </th>
                                                            <td class="align-middle">
                                                                <span th:text="${person.caloriesConsumed}"></span>
                                                            </td>
                                                            <td class="align-middle">
                                                                <span class="ms-2"
                                                                      th:text="${person.caloriesLeft}"></span>
                                                            </td>

                                                        </tr>

                                                        </tbody>
                                                    </table>


                                                </div>
                                                <form method="get" th:action="@{/persons/main/{id}(id=${person.id})}">
                                                    Filter: <input type="text" name="keyword" id="keyword" size="50"
                                                                   th:value="${keyword}" required/>
                                                    &nbsp;
                                                    <input type="submit" value="Search" />
                                                    &nbsp;
                                                    <input type="button" value="Clear" id="btnClear"
                                                           onclick="clearSearch()"/>
                                                </form>

                                                <table class="table text-white mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th scope="col">Calories</th>
                                                        <th scope="col">Protein</th>
                                                        <th scope="col">Carbs</th>
                                                        <th scope="col">Fats</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>


                                                    <!--                            <tr class="fw-normal" th:if="${listDto == null}">-->
                                                    <!--                                <td class="fw-normal" colspan="2" >Add Food</td>-->
                                                    <!--                            </tr>-->
                                                    <tr class="fw-normal" th:each="foods : ${foods}">


                                                        <td>
                                                            <form method="POST" th:action="@{/myList/food/{id}(id=${person.id})}"
                                                                  th:object="${food}">
                                                                <input type="hidden" name="name"
                                                                       th:value="${foods.name}"/>
                                                                <!--                                        <input type="hidden" name="calories" th:field="*{calories}" th:number="${foods.calories}"  />-->
                                                                <!--                                        <input type="hidden" name="protein" th:field="*{protein}" th:number="${foods.protein}"  />-->
                                                                <!--                                        <input type="hidden" name="carbs" th:field="*{carbs}" th:number="${foods.carbs}"  />-->
                                                                <!--                                        <input type="hidden" name="fat" th:field="*{fat}" th:number="${foods.fat}"  />-->
                                                                <!--                                        <input type="hidden" name="fiber" th:field="*{fiber}" th:number="${foods.fiber}"  />-->
                                                                <button class="btn btn-danger" th:text="${foods.name}"
                                                                        type="submit">+
                                                                </button>
                                                            </form>
                                                            <!--                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"-->
                                                            <!--                                         alt="avatar 1" style="width: 45px; height: auto;">-->

                                                        </td>
                                                        <td class="align-middle">
                                                            <h6 class="mb-0"><span class="badge bg-danger"
                                                                                   th:text="${foods.calories}"></span>
                                                            </h6>
                                                        </td>
                                                        <td class="align-middle">
                                                            <h6 class="mb-0"><span class="badge bg-danger"
                                                                                   th:text="${foods.protein}"></span>
                                                            </h6>
                                                        </td>
                                                        <td class="align-middle">
                                                            <h6 class="mb-0"><span class="badge bg-danger"
                                                                                   th:text="${foods.carbs}"></span></h6>
                                                        </td>
                                                        <td class="align-middle">
                                                            <h6 class="mb-0"><span class="badge bg-danger"
                                                                                   th:text="${foods.fat}"></span></h6>
                                                        </td>
                                                        <td class="align-middle">

                                                            <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                                                                    class="fas fa-trash-alt fa-lg text-warning"></i></a>
                                                        </td>

                                                    </tr>
                                                    </tbody>


                                                </table>
                                                <div class="fw-normal">
                                                    <a class="align-middle" type="button" onclick="foodList()" th:href="@{/foods/add}">Add Your
                                                        Food</a>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>




<!--<div th:fragment="foodList">-->
<!--<section class="vh-100 gradient-custom-2">-->
<!--    <div class="container py-5 h-100">-->
<!--        <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--            <div class="col-md-12 col-xl-10">-->

<!--                <div class="card mask-custom">-->
<!--                    <div class="card-body p-4 text-white">-->

<!--                        <div class="text-center pt-3 pb-2">-->
<!--                            &lt;!&ndash;                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                 alt="Check" width="60">&ndash;&gt;-->
<!--                            <h2 class="my-4">My Food List</h2>-->
<!--                        </div>-->


<!--                        <table class="table text-white mb-0">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th >Name</th>-->
<!--                                <th scope="col">Calories</th>-->
<!--                                <th scope="col">Protein</th>-->
<!--                                <th scope="col">Carbs</th>-->
<!--                                <th scope="col">Fats</th>-->
<!--                            </tr>-->
<!--                            </thead>-->

<!--                            <tbody >-->


<!--                            &lt;!&ndash;                            <tr class="fw-normal" th:if="${listDto == null}">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <td class="fw-normal" colspan="2" >Add Food</td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </tr>&ndash;&gt;-->
<!--                            <tr class="fw-normal" th:each="foods : ${foods}" >-->


<!--                                <td >-->
<!--                                    <form method="POST" th:action="@{/persons/food/1}" th:object="${food}">-->
<!--                                        <input type="hidden" name="name"  th:value="${foods.name}"  />-->
<!--&lt;!&ndash;                                        <input type="hidden" name="calories" th:field="*{calories}" th:number="${foods.calories}"  />&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="hidden" name="protein" th:field="*{protein}" th:number="${foods.protein}"  />&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="hidden" name="carbs" th:field="*{carbs}" th:number="${foods.carbs}"  />&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="hidden" name="fat" th:field="*{fat}" th:number="${foods.fat}"  />&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="hidden" name="fiber" th:field="*{fiber}" th:number="${foods.fiber}"  />&ndash;&gt;-->
<!--                                        <button class="btn btn-danger" th:text="${foods.name}" type="submit" >+-->
<!--                                        </button>-->
<!--                                    </form>-->
<!--                                    &lt;!&ndash;                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                         alt="avatar 1" style="width: 45px; height: auto;">&ndash;&gt;-->
<!--                                    <h6 class="mb-0"><span class="badge bg-danger"  th:text="${foods.name}">-->

<!--                                    </span></h6>-->
<!--                                </td>-->
<!--                                <td class="align-middle">-->
<!--                                    <h6 class="mb-0"><span class="badge bg-danger" th:text="${foods.calories}"></span></h6>-->
<!--                                </td>-->
<!--                                <td class="align-middle">-->
<!--                                    <h6 class="mb-0"><span class="badge bg-danger" th:text="${foods.protein}"></span></h6>-->
<!--                                </td>-->
<!--                                <td class="align-middle">-->
<!--                                    <h6 class="mb-0"><span class="badge bg-danger" th:text="${foods.carbs}"></span></h6>-->
<!--                                </td>-->
<!--                                <td class="align-middle">-->
<!--                                    <h6 class="mb-0"><span class="badge bg-danger" th:text="${foods.fat}"></span></h6>-->
<!--                                </td>-->
<!--                                <td class="align-middle">-->

<!--                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i-->
<!--                                            class="fas fa-trash-alt fa-lg text-warning"></i></a>-->
<!--                                </td>-->

<!--                            </tr>-->
<!--                            </tbody>-->


<!--                        </table>-->
<!--                        <div class="fw-normal" >-->
<!--                            <a class="align-middle" th:href="@{/foods/add}">Add Your Food</a>-->
<!--                        </div>-->
<!--                        <div class="fw-normal" >-->
<!--                            <a class="align-middle" th:href="@{/persons/main/1}">Back</a>-->
<!--                        </div>-->




<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--</div>-->

</body>
</html>
