<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/list/myFoodList.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/fragments/layout.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar :: navbar('/persons/main')"></div>

<div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active" id="personFood" name="first" style=" display:block">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); ">
                <div th:replace="personsFoodList :: personsFoodList"></div>
            </div>

        </div>

        <!-- Single item -->
        <div class="carousel-item active" id="foodList" href="second" style=" display:block" >
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); ">
                <div  th:replace="foodList :: foodList ">
                </div>
            </div>

        </div>

        <!-- Single item -->
        <div class="carousel-item active" id="profile"  style=" display:block" >
            <div  th:replace="profile :: profile"></div>
        </div>
    </div>
    <!-- Inner -->

    <a class="carousel-control-prev" type="button" onclick="getPanels()">
        <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" type="button" onclick="getPanels()">
        <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
    </a>
</div>
<script>
    const personFood = document.getElementById("personFood");
    const food = document.getElementById("foodList");
    const myProfile = document.getElementById("profile");
    // const btn = document.getElementById("toggle");
    // const btn2 = document.getElementById("toggle2");

    function getPanels() {
        if (personFood.style.display !== "none") {
            personFood.style.display = "none";
            food.style.display = "block";
        } else if (food.style.display !== "none") {
            food.style.display = "none";
            myProfile.style.display = "block";
        } else {
            myProfile.style.display = "none";
            personFood.style.display = "block";

        }
    }

    function myList() {
        if (personFood.style.display === "none") {
            personFood.style.display = "block";
            food.style.display = "none";
            myProfile.style.display = "none";
        } else {
            personFood.style.display = "block";
        }
    }

    function profile() {
        if (myProfile.style.display === "none") {
            personFood.style.display = "none";
            food.style.display = "none";
            myProfile.style.display = "block";
        } else {
            myProfile.style.display = "block";
        }
    }

    function foodList() {
        if (food.style.display === "none") {
            food.style.display = "none";
            personFood.style.display = "none";
            myProfile.style.display = "block";
        } else {
            food.style.display = "block";
        }
    }

    // function replace( hide, show ) {
    //     document.getElementById(hide).style.display="none";
    //     document.getElementById(show).style.display="block";
    // }
    function clearSearch() {
        window.location = "[[@{/}]]";
    }

    // if (window.location.search.indexOf('first') > -1) {
    //     // jQuery("first").css({"display":"block"});
    //     one.style.display = "block";
    //     second.style.display = "none";
    //     third.style.display = "none";
    //
    // }
    // else {}
</script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
    //make all none
    const allDivNone = () => {
        food.style.display = "none";
        personFood.style.display = "none";
        myProfile.style.display = "none";
    }

    // Parse the URL parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    // Give the parameter a variable name
    let dynamicContent = getParameterByName('hex');

    $(document).ready(function() {

        // Check if the URL parameter is apples
        if (dynamicContent === 'personFood') {
            allDivNone.apply();
            $('#personFood').show();
        }
        // Check if the URL parameter is oranges
        else if (dynamicContent === 'foodList') {
            allDivNone.apply();
            $('#foodList').show();
        }
        // Check if the URL parameter is bananas
        else if (dynamicContent === 'profile') {
            allDivNone.apply();
            $('#profile').show();
        }
        // Check if the URL parameter is empty or not defined, display default content
        else {
            $('#default-content').show();
        }
    });
</script>
</body>
</html>
