<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/list/myFoodList.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/fragments/layout.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:fragment="personsFoodList" class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white text-center">
        <section class="vh-100 gradient-custom-2">

            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-12 col-xl-10">

                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                            <div class="card-body p-4 text-black-50">
                                <div class="col-md-12 col-xl-10">


                                    <table class="table text-white-50 mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">Goal</th>
                                            <th scope="col">Used</th>
                                            <th scope="col">Left</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr class="fw-normal" th:each="person : ${person}">
                                            <th>
                                                                <span class="ms-2"
                                                                      th:text="${person.goalCalories}"></span>
                                            </th>
                                            <td class="align-middle">
                                                <span th:text="${person.caloriesConsumed}"></span>
                                            </td>
                                            <td class="align-middle">
                                                                <span class="ms-2"
                                                                      th:text="${person.caloriesLeft}"></span>
                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>


                                </div>

                                <table class="table text-white-50 mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Calories</th>
                                        <th scope="col">Protein</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--                            <tr class="fw-normal" th:if="${listDto == null}">-->
                                    <!--                                <td class="fw-normal" colspan="2" >Add Food</td>-->
                                    <!--                            </tr>-->
                                    <tr class="fw-normal" th:each="listDto : ${person.myFoodList}">
                                        <th>
                                            <!--                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"-->
                                            <!--                                         alt="avatar 1" style="width: 45px; height: auto;">-->
                                            <span class="ms-2" th:text="${listDto.name}"></span>
                                        </th>
                                        <td class="align-middle">
                                            <span th:text="${listDto.calories}"></span>
                                        </td>
                                        <td class="align-middle">
                                            <h6 class="mb-0"><span class="badge bg-danger"
                                                                   th:text="${listDto.protein}"></span>
                                            </h6>
                                        </td>
                                        <td class="align-middle">

                                            <form method="POST" th:action="@{/myList/delete/{id}(id=${person.id})}">
                                                <input type="hidden" name="foodId"
                                                       th:value="${listDto.id}">
                                                <button class="btn btn-danger" type="submit"
                                                        th:text="delete">
                                                </button>
                                            </form>

                                            <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                                                    class="fas fa-trash-alt fa-lg text-warning"></i></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="fw-normal">
                                    <a class="align-middle" th:href="@{/persons/main/?hex=foodList}">Add Food +</a>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>
